extends layout
block content
   .container-fluid.panorama
      .row.mt-5
         .col
            h1#main-title-dark #{mainTitle}
            .underlines
               #underlineAbout
      .row.mb-5
         .col-sm
            img.img-fluid.histogram(src="/images/Clouds-History.svg", alt="alt")
      .history-text#history1
         h2 !{history1}
      .history-text#history2
         h2 !{history2}
      .history-text#history3
         h2 !{history3}  
      .history-text#history4
         h2 !{history4}
      .row
         .col-sm.text-center
            h1#inspiration !{history5}
