extends layout
block content
   .container-fluid.panorama
      .row.mt-5
         .col
            h1#main-title-dark #{mainTitle}
            .underlines
               #underlineAbout
      .row.mb-5
         .col-sm
            img.img-fluid.histogram(src="/images/Clouds-History.svg", alt="alt")
      .history-text#history1
         h2 !{history1}
      .history-text#history2
         h2 !{history2}
      .history-text#history3
         h2 !{history3}  
      .history-text#history4
         h2 !{history4}
      .row
         .col-sm.text-center
            h1#inspiration !{history5}
      .text-center#mreagle-pic
         img.img-fluid(src="/images/MrEagle.svg", alt="alt")
   .container
      .row.aboutme
         .text-center#about-text
            h1#soy-mreagle Soy Mr.Eagle
            p Tengo conocimiento en HTML, CSS, SASS, JavaScript, Node, PHP, Laravel y VueJs. Así como en Illustrator, After Effects, Audition, Blender, Maya y composición audiovisual. Con Eagle Design la experiencia de usuario es sólida, intuitiva y estética. El diseño es único, no hay plantillas, no hay presets, todo es ajustado a la medida de lo que necesitas. 
      .row.mb-5.knowledge
         .col.text-center
            i.fab.fa-html5#html5
         .col.text-center
            i.fab.fa-css3#css3
         .col.text-center
            i.fab.fa-sass#sass
         .col.text-center
            i.fab.fa-laravel#laravel
         .col.text-center
            i.fab.fa-node-js#node
         .col.text-center
            i.fab.fa-vuejs#vue
      .row.mt-5.mb-5
         .col.text-center.mt-5
            h1#contactme ¡Ponte en Contacto!
   .container
      form.needs-validation.mb-5(novalidate action="." methot = "POST")
         .form-row.justify-content-center
            .col-md-4.mb-3
               input.form-control#validationTooltip01(type="text" required)
               label.tooltip-transform(for="validationTooltip01") Nombre
               .invalid-tooltip
                  Please Ingresa tu nombre
            .col-md-4.mb-3
               input.form-control#validationTooltip02(type="text" required)
               label.tooltip-transform(for="validationTooltip02") Apellido
               .invalid-tooltip
                  Please Ingresa tu apellido
         .form-row.justify-content-center
            .col-md-4.mb-3
               input.form-control#validationTooltip03(type="tel" required)
               label.tooltip-transform(for="validationTooltip03") Teléfono
               .invalid-tooltip
                  Please Ingresa un número válido
            .col-md-4.mb-3
               input.form-control#validationTooltip04(type="text" patter="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" required)
               label.tooltip-transform(for="validationTooltip04") e-Mail
               .invalid-tooltip
                  Please Ingresa un correo válido
         .form-row.justify-content-center.align-items-center
            .col-md-6.mb-3
               textarea.form-control#validationTooltip05(rows = 5 required)
               label.tooltip-transform.special-label(for="validationTooltip05") Mensaje
               .invalid-tooltip
                  Please Deja un mensaje!
            .col-md-2.mt-3
               .button-submit.text-center
                  button#send-btn(type="submit" data-toggle="tooltip" data-placement="bottom" title="Enviar") 
                     i.fas.fa-paper-plane
      .row.mb-5.mt-5.justify-content-center
         .col-2.text-center
            a(class = "about-social" href="http://www.behance.com", target = "_blank") 
               i.fab.fa-behance
               .underlines.justify-content-center
                  #social-underline
         .col-2.text-center
            a(class = "about-social" href="dribble.com", target = "_blank")
               i.fab.fa-dribbble
               .underlines.justify-content-center
                  #social-underline
         .col-2.text-center
            a(class = "about-social" href="linkedin.com", target = "_blank")
               i.fab.fa-linkedin-in
               .underlines.justify-content-center
                  #social-underline
         .col-2.text-center
            a(class = "about-social" href="instagram.com", target = "_blank")
               i.fab.fa-instagram  
               .underlines.justify-content-center
                  #social-underline
         .col-2.text-center
            a(class = "about-social" href="facebook.com", target = "_blank")
               i.fab.fa-facebook-f 
               .underlines.justify-content-center
                  #social-underline
         .col-2.text-center
            a(class = "about-social" href="twitter.com", target = "_blank")
               i.fab.fa-twitter  
               .underlines.justify-content-center
                  #social-underline


     
      
