extends layout
block content
   section
      .container-fluid.panorama
         .row
            .col-sm
               img.img-fluid.bigsun(src="/images/Panorama.svg", alt="alt")
      .text-intro.text-center
         h1.h1mod1 #{saluto1}
         h1.h1mod2 #{saluto2}
         h1.h1mod2 #{saluto3}
   section
      .container-fluid#latest-projects
         .row.mt-5
            .col
               h1#projects-title #{projectsTitle}
               .underlines
                  #underline3
         .row.justify-content-around.mt-5
            each post in posts
               .card.border-0.d-flex.justify-content-center.shadow(style="width:20rem")
                  .card-img-top
                     .img-cover(style="background-image: url('/images/projects/pr1-cover.jpg')")
                  .card-shadow
                     .img-cover-shadow(style="background-image: url('/images/projects/pr1-cover.jpg')")
                  .card-body(style="margin-top: 120px")
                     h4.card-title.text-center #{post.title}
                     p.card-text.text-center #{post.descriptionShort}
                  .text-right.p-1
                     a.btn.btn-primary.m-2(href="/projects/show/" + post._id)
                        i.fas.fa-eye

            //- .card.border-0.d-flex.justify-content-center.shadow(style="width:20rem")
            //-    .card-img-top
            //-       .img-cover(style="background-image: url('/images/projects/pr2-cover.jpg')")
            //-    .card-shadow
            //-       .img-cover-shadow(style="background-image: url('/images/projects/pr2-cover.jpg')")
            //-    .card-body(style="margin-top: 120px")
            //-       h4.card-title.text-center Proyecto 2
            //-       p.card-text.text-center Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            //-    .text-right.p-1
            //-       a.btn.btn-primary.m-2(href="")
            //-          i.fas.fa-eye

            //- .card.border-0.d-flex.justify-content-center.shadow(style="width:20rem")
            //-    .card-img-top
            //-       .img-cover(style="background-image: url('/images/projects/pr3-cover.png')")
            //-    .card-shadow
            //-       .img-cover-shadow(style="background-image: url('/images/projects/pr3-cover.png')")
            //-    .card-body(style="margin-top: 120px")
            //-       h4.card-title.text-center Proyecto 3
            //-       p.card-text.text-center Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            //-    .text-right.p-1
            //-       a.btn.btn-primary.m-2(href="")
            //-          i.fas.fa-eye
           
            //- .card.border-0.d-flex.justify-content-center.shadow(style="width:20rem")
            //-    .card-img-top
            //-       .img-cover(style="background-image: url('/images/projects/pr4-cover.png')")
            //-    .card-shadow
            //-       .img-cover-shadow(style="background-image: url('/images/projects/pr4-cover.png')")
            //-    .card-body(style="margin-top: 120px")
            //-       h4.card-title.text-center Proyecto 4
            //-       p.card-text.text-center Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            //-    .text-right.p-1
            //-       a.btn.btn-primary.m-2(href="")
            //-          i.fas.fa-eye
         

      .container.mt-5.mb-5.pt-5.pb-5
        .row#nav
          .col-sm.text-center
            a.decoration-none(href="/projects/all")
              h3.hashtag-projects #Todos
          .col-sm.text-center
            a.decoration-none(href="/projects/illustrations")
              h3.hashtag-projects #Ilustracion
          .col-sm.text-center
            a.decoration-none(href="/projects/web-development")
              h3.hashtag-projects #WebDevelopment
          .col-sm.text-center
            a.decoration-none(href="/projects/3D-modeling")
              h3.hashtag-projects #3D
          .col-sm.text-center
            a.decoration-none(href="/projects/photo")
              h3.hashtag-projects #Photo
          .col-sm.text-center
            a.decoration-none(href="/projects/motion-graphics")
              h3.hashtag-projects #MotionGraphics
          .col-sm.text-center
            a.decoration-none(href="/projects/apps")
              h3.hashtag-projects #Apps
          .col-sm.text-center
            a.decoration-none(href="/projects/audiotracks")
              h3.hashtag-projects #AudioTracks

