extends layout

block content
  //- VARIABLES
  - var works = posts;
  .container-fluid.projects-main
      .row.mt-5
         .col
            h1#main-title-light #{mainTitle}
            .underlines
               #underlineProjects
  .container.mt-5.mb-5.pt-5.pb-5
        .row#nav
          .col-sm.text-center
            a.decoration-none(href="/projects/all")
              h3.hashtag-projects #Todos
          .col-sm.text-center
            a.decoration-none(href="/projects/illustrations")
              h3.hashtag-projects #Ilustracion
          .col-sm.text-center
            a.decoration-none(href="/projects/web-development")
              h3.hashtag-projects #WebDevelopment
          .col-sm.text-center
            a.decoration-none(href="/projects/3D-modeling")
              h3.hashtag-projects #3D
          .col-sm.text-center
            a.decoration-none(href="/projects/photo")
              h3.hashtag-projects #Photo
          .col-sm.text-center
            a.decoration-none(href="/projects/motion-graphics")
              h3.hashtag-projects #MotionGraphics
          .col-sm.text-center
            a.decoration-none(href="/projects/apps")
              h3.hashtag-projects #Apps
          .col-sm.text-center
            a.decoration-none(href="/projects/audiotracks")
              h3.hashtag-projects #AudioTracks
  section
    .container-fluid#latest-projects.mb-5
        .row.justify-content-around.mt-5
          each post in works
            -var bg =  "background-image: url("+ post.image + ")";
            .card.border-0.d-flex.justify-content-center.shadow(style="width:20rem")
              .card-img-top
                .img-cover(style=bg)
              .card-shadow
                .img-cover-shadow(style=bg)
              .card-body(style="margin-top: 120px")
                h4.card-title.text-center #{post.title}
                p.card-text.text-center #{post.descriptionShort}
              .text-right.p-1
                a.btn.btn-primary.m-2(href="show/" + post._id)
                    i.fas.fa-eye
          else
            h4.text-center(style="margin-top:150px; margin-bottom:150px;") Todavía no se ha publicado nada :c

block scripts
  script.
    //Paint the current link active
    let url = window.location.pathname;
    let activePage = url.substring(url.lastIndexOf('/') + 1);
    let nav = document.getElementById('nav');
    let anchor = nav.getElementsByTagName('a');
    for (let i = 0; i < anchor.length; i++) {

      let currentlink = anchor[i].getAttribute("href").slice(10)
      if (activePage == currentlink) {
          let children = anchor[i].firstElementChild;
          children.classList.add('hashtag-active');
      }

    }